.container {
  background: white;
  margin-top: 30px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  .todo-list {
    list-style: none;

    li {
      .view {
        display: flex;
        align-items: center;
        padding: 20px 10px;
        border-bottom: 1px solid hsl(233, 11%, 84%);
        label {
          margin-left: 17px;
          font-size: 19px;
          color: hsl(235, 19%, 35%);
          font-weight: 400;
        }

        input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          height: 30px;
          width: 30px;
          background-color: transparent;
          border-radius: 50%;
          border: 1px solid hsl(236, 33%, 92%);
          cursor: pointer;
          outline: none;
        }

        input[type="checkbox"]::after {
          content: url("../../assets/ICON-CHECK.SVG");
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          display: none;
        }
        input[type="checkbox"]:checked {
          background: linear-gradient(
            135deg,
            hsl(192, 100%, 67%) 0%,
            hsl(280, 87%, 65%) 100%
          );
        }

        input[type="checkbox"]:checked::after {
          display: flex;
        }

        .remove {
          display: none;
          margin-left: auto;
          background: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 20px;
          color: hsl(235, 19%, 35%);
        }
        &:hover {
          .remove {
            display: block;
          }
        }
      }
      .edit {
        display: none;
        position: relative;
        width: 100%;
        padding: 15px;
        background: transparent;
        outline: none;
        font-size: 19px;
        line-height: 1.4em;
        color: hsl(235, 19%, 35%);
        --webkit-font-smoothing: antialiased;
        --moz-osx-font-smoothing: grayscale;
      }

      &.completed {
        .view {
          label {
            text-decoration: line-through;
            color: hsl(233, 100%, 21%);
          }
        }
      }

      &.editing {
        border-bottom: none;
        padding: 0;
        .view {
          display: none;
        }
        .edit {
          display: block;
          width: calc(100% - 43px);
          padding: 12px 16px;
          margin: 0 0 0 43px;
        }
      }
    }
  }
}
